#profileData{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#profileData>img{
    align-items: baseline;
    text-align: center;
    width: 200px;
    height: 200px;
    border: 1px solid;
    border-radius: 50%;
}