.container{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    width: 100%;
}
.items{
    display: flex;
    flex-direction: column;
    align-items: center;
    float: left;
    border: 1px solid;
    height: max-content;
    width: 100%;
}
input[type="textbox"]{
    margin: 2%;
    height: 50%;
    width: 80%;
}

.allComments{
    position: absolute;
}